{% extends "main.html" %}
{% block title %}Home{% endblock title %}
{% block style %}<link rel="stylesheet" type="text/css" href="../media/css/home.css" />{% endblock style %} 
{% block content %}
<div class="home-container">
  <div class="left-div">
    <h1>Welcome to Image Crypter</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur. Urna integer tincidunt et in sit
      dui nam. Dictum porttitor feugiat amet arcu convallis. Suspendisse
      vulputate et arcu quis. Tempus scelerisque nunc scelerisque ac. Amet
      facilisi risus nec bibendum eget nec amet ut at. Elit dui massa amet ante
      mauris id eu sem. Gravida nullam lacus quis vitae. Ornare scelerisque cras
      vitae imperdiet neque elementum congue. Faucibus ornare gravida fames et
      purus eget.
    </p>
  </div>
  <div class="right-div"></div>
</div>
{% endblock content %}
