{% extends "main.html" %}
{% block title %}Home{% endblock title %}
{% block style %}<link rel="stylesheet" type="text/css" href="../media/css/home.css" />{% endblock style %} 
{% block content %}
<div class="home-container">
  <div class="left-div">
    <h1>Welcome to Image Crypter</h1>
    <p>
      The encryption-decryption system using noise images involves concealing sensitive data within visually random noise patterns. 
      In this method, the original file is encrypted using a secure algorithm, and the encrypted data is embedded within a noiseimage 
      to create a cover that appears as random noise to the naked eye. The noise image, now containing the encrypted data, is saved for later use. 
      To decrypt the file, the noise image is uploaded to the decryption system, where the encrypted data is extracted from the noise pattern
      and processed through a decryption algorithm to reveal the original content. This process enhances data security by visually encrypting information
      adding an additional layer of protection and making it challenging for unauthorized users to interpret the data without decryption.
      This system offers flexibility for various file formats and ensures secure transmission and storage of confidential information.
    </p>
  </div>
  <div class="right-div"></div>
</div>
{% endblock content %}
